{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
	<header class="masthead text-center d-flex" id="mastheadPost">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1>
						{{ object.title }}
					</h1>
				</div>
			</div>
		</div>
	</header>

	<div id="blog">
		<div class="text-muted" style="martin-top: 4rem"> 
			{{object.author.displayName }}
			<span style="float: right">{{ object.date_modified }}</span>
			<br>
			{% if user == object.author %}
			<a href="{% url 'blog_edit' object.pk %}">Edit</a> | <a href="{% url 'blog_delete' object.pk %}">Delete</a>
			{% endif %}
		</div>
		<hr>
		<p class="card-text" id="post"> {{ object.body|safe }} </p>
	</div>
{% endblock content %}