{% extends 'base.html' %}
{% load markdownify %}
{% load crispy_forms_tags %}

{% block content %}
	<header class="masthead text-center d-flex" id="mastheadPost">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1>
						{{ object.title }}
					</h1>
				</div>
			</div>
		</div>
	</header>

	<div id="blog">
		<div class="text-muted" style="martin-top: 4rem"> 
			<a class="text-muted" href="{% url 'show_profile_page' object.author.pk %}">{{object.author.displayName }}</a>
			<span style="float: right">
				{{ object.date_published }}
				{%if object.date_published != object.date_modified %}
					&middot; Edited
					{{ object.date_modified }}
				{% endif %}
			</span>
			<br>
			{% if user == object.author %}
			<a href="{% url 'blog_edit' object.pk %}">Edit</a> | <a href="{% url 'blog_delete' object.pk %}">Delete</a>
			{% endif %}
		</div>
		<hr>
		<p class="card-text" id="post"> {{ object.body|safe }} </p>
		<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
		<br/>
		<hr>
		
		
	</div>

		{% if user.is_authenticated %}
			<form action="{% url 'blogpost_like' object.id %}" method="POST">
				{% csrf_token %}

				{% if post_is_liked %}
				<button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
				{% else %}
				<button type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Like</button>
				{% endif %}
		</form>
		{% else %}
		<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this post!</a><br>
		{% endif %}
		<strong class="text-secondary ">{{number_of_likes}} Like{{number_of_likes|pluralize }}</strong>

		<br/>
		<hr>
		<h1>Comments</h1>
		<br>

<div id="comments_section">
{% if user.is_authenticated %}
  	{% if not post.comments.all %}
  		<h3>No Comments Yet...</h3>
  	{% else %}
  		<h3> Add Comment...</h3>
  	{% endif %}

  <form method="POST">
	{% csrf_token %}
	<div class="form-group">
	  {{ comment_form }}
	  <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
	</div>
  </form>
{% else %}
	<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to comment on this post!</a><br>
  {% endif %}

  {% if comments %}
  <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
  <hr>
  <ul>
    {% for comment in post.comments.all %}
    	
    <li>           
     <div>
	    <span>
	      <small class="text-info">{{ comment.name }} | </small>
	      <small class="text-info">{{ comment.date_added }} | </small>
	      <small class="text-muted">{{comment.body }} </small>
	      {% if request.user == comment.name %}
	      <small class = "text-info"><a href="{% url 'delete-comment' comment.id %}">Delete</a></small>
	      {% endif %}

			
	    </span>
	    <p>
	      {{ comment.content|safe }}
	    </p>
      </div>
      
    </li>
	{% endfor %}
	{% endif %}


  </ul>

    
  

</div>
{% endblock %}









