{% extends 'base.html' %}
{% load markdownify %}

{% block content %}


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class = "navbar-nav mr-auto">
			<li class="nav-item">
				<form class="form-inline">
					<a class="btn btn-outline-secondary" href="{% url 'popularblog_list' %}"
					role="button">Popular</a>
					<a class="btn btn-primary ml-2" href="{% url 'blog_list' %}"
					role="button">New</a>
				</form>
			</li>
		</ul>


	<h1>Homepage</h1>
	</nav>
	{% for object in object_list %}

	<div class="card">
		<div class="card-header">
			<a href="{% url 'blog_detail' object.pk %}" class="font-weight-bold">{{object.title}}</a> &middot;
			{{object.author.displayName}} &middot;
			{{object.date_modified}}</span>
		</div>
		<div class="card-body">
			{{object.body_summary|markdownify}}
			<a href="{% url 'blog_detail' object.pk %}">...</a>
		</div>
		<div class="card-footer text-center text-muted">
			<a href="#">Edit</a> | <a href="#">Delete</a>
		</div>
	</div>
	<br />
	{% endfor %}
{% endblock content %}

